<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681043818459-kf18uq7r4uca7junlrufbcnuvjuprqvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681043818459-kf18uq7r4uca7junlrufbcnuvjuprqvq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681043818459-j1ct862123cpfni3i9gpu18fctgjm1rd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQPHTaIZCufGotpBl1MI1UiA1bHQtz5VM</string>
	<key>GCM_SENDER_ID</key>
	<string>681043818459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.performit-15391</string>
	<key>PROJECT_ID</key>
	<string>performit-1591955825350</string>
	<key>STORAGE_BUCKET</key>
	<string>performit-1591955825350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681043818459:ios:ced465924727b8032659fe</string>
	<key>DATABASE_URL</key>
	<string>https://performit-1591955825350.firebaseio.com</string>
</dict>
</plist>